<div class="row">
    <h1 class="experience">Experiencia laboral</h1>
    <div class="col-lg-11 conteiner">
    <ul>
        <li>
            <h1>Trabajo 1</h1> 
            -
             <h3>(years)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, voluptatem suscipit, odit recusandae repellat voluptate explicabo quos laboriosam necessitatibus quae architecto corrupti perspiciatis autem consectetur sequi perferendis possimus. Quasi, dignissimos.</p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 2</h1> 
            -
             <h3>(years)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, voluptatem suscipit, odit recusandae repellat voluptate explicabo quos laboriosam necessitatibus quae architecto corrupti perspiciatis autem consectetur sequi perferendis possimus. Quasi, dignissimos.</p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 3</h1> 
            -
             <h3>(years)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, voluptatem suscipit, odit recusandae repellat voluptate explicabo quos laboriosam necessitatibus quae architecto corrupti perspiciatis autem consectetur sequi perferendis possimus. Quasi, dignissimos.</p>
    </ul>
</div>
</div>